@charset "UTF-8";

@import url(font-awesome.min.css);

@font-face {
    font-family: "Source Sans Pro Light";
    src: url("../font/SourceSansPro-Light.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url("../font/SourceSansPro-Bold.ttf") format('truetype');
    font-weight: bold;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, center, ol, ul, li, form, table, tbody, tfoot, thead, tr, th, td, footer, header{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
 footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to right, rgb(199, 0, 57) 20%, rgb(255, 96, 27) 20%, rgb(255, 96, 27) 40%, rgb(255, 148, 27) 40%, rgb(255, 148, 27) 60%, rgb(255, 175, 27) 60%, rgb(255, 175, 27) 80%, rgb(255, 224, 27) 80%);
}

body:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: .75;
    z-index: -1;
    background: linear-gradient(to right top, rgb(199, 0, 57) 20%, rgb(255, 96, 27) 20%, rgb(255, 96, 27) 40%, rgb(255, 148, 27) 40%, rgb(255, 148, 27) 60%, rgb(255, 175, 27) 60%, rgb(255, 175, 27) 80%, rgb(255, 224, 27) 80%);
    -moz-transition: opacity 0.75s ease-out;
    -o-transition: opacity 0.75s ease-out;
    -webkit-transition: opacity 0.75s ease-out;
    transition: opacity 0.75s ease-out;
}

body.is-loading:after {
    opacity: 1;
}

/* Type */
body, input, select, textarea {
    color: #fff;
    font-family: "Source Sans Pro Light", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 10pt;
        line-height: 1.75;
    }

}

a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}

a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

#main a:hover {
    color: #fffc3b;
}

p {
    margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffd53b;
    line-height: 1.0;
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 1.65em;
    }

}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: solid 1px #ffd53b;
    margin: 2em 0;
}

/* List */
ol {
    list-style: decimal;
    margin: 0 0 1.5em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 1.5em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #c8cccf;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome, "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #ff7496;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0.75em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

/* Main */

#main {
    position: relative;
    max-width: 50%;
    min-width: 27em;
    padding: 6em 4.5em 6em 4.5em;
    background: #282828;
    border-radius: 4px;
    border: 2px solid rgb(255, 235, 59);
    cursor: default;
    opacity: 0.975;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
}

@media screen and (max-width: 480px) {
    #main {
        min-width: 0;
        width: 100%;
        max-width: 100%;
        padding: 6em 2em 2.5em 2em ;
    }
}

#main h1 {
    font-family: FontAwesome, sans-serif;
    font-size: 40px;
}

body.is-loading #main {
    opacity: 0;
    -moz-transform: rotateX(15deg);
    -webkit-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

/* Footer */

#footer {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    align-self: flex-end;
    width: 100%;
    padding: 1.5em 0 0 0;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    text-align: center;
}

/* Wrapper */
#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
}

#wrapper > * {
    z-index: 1;
}

#wrapper:before {
    content: '';
    display: block;
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding: 0.75em;
    }
}

body.is-ie #wrapper {
    height: 100%;
}

.topnav {
    background-color: #282828;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #c5c5c5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    height: inherit;
}

.topnav a:hover {
    background-color: #ffc83b;
    animation-name: highlightNav;
    animation-duration: .35s;
    color: #000000;
}

.topnav a.home {
    max-height: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: FontAwesome, "Source Sans Pro Bold", sans-serif;
    font-style: normal;
}

.topnav a.home h1 {
    font-weight: bold;
    margin: .1em 0 0 0;
}

.topnav a.info {
    float: right;
    letter-spacing: 1px;
    cursor: pointer;
}

.topnav a.home:hover, a.info:hover, a.active:hover {
    color: white;
    background-color: transparent;
    animation: none;
}

.topnav a.active {
    background-color: rgb(255 213 59);
    color: #000000;
}

/* The animation for navbar highlight */
@keyframes highlightNav {
    0%   {background-color: #282828;}
    20%  {background-color: #535353;}
    20%  {background-color: #92835D;}
    30%  {background-color: #AA945C;}
    40%  {background-color: #B89B52;}
    50%  {background-color: #C9A23F;}
    60%  {background-color: #cca02f;}
    70%  {background-color: #D8AC3B;}
    80%  {background-color: #E5B53A;}
    90%  {background-color: #e6b435;}
    100% {background-color: #ffc83b;}
}